{{ define "main" }}

<!-- display blogs in card-list manner, see config/_default/params.toml -->
{{ if eq .Site.Params.blog.Style "card-list" }}
<div class="row justify-content-center">
	<div class="col-md-12 col-lg-10 col-xl-8">
		<article>
			<!-- display article -->
			<h1 class="text-center">{{ .Title }}</h1>
			<div class="text-center">{{ .Content }}</div>

            <!-- display blog list -->
			<div class="card-list">
				{{ range .Data.Pages -}}
					<div class="card">
						<div class="card-body">
							<h2 class="h3"><a href="{{ .RelPermalink }}">{{ .Params.title }}</a></h2>
							<p>{{ .Params.lead | safeHTML }}</p>
							{{ partial "main/blog-meta.html" . -}}
							{{ if .Params.Tags }}
							<p>🔖&nbsp;
								{{ range .Params.Tags }}
								<a href="/tags/{{.}}/">{{.}}</a>&nbsp;
								{{ end }}
							</p>
							{{ end }}
						</div>
					</div>
				{{ end -}}
			</div>
		</article>
	</div>
</div>
{{ end }}

<!-- display blogs in simple-list manner, see config/_default/params.toml -->
{{ if eq .Site.Params.blog.Style "simple-list" }}
<div class="row justify-content-center">
	<div class="col-md-12">
		<article>
			<!-- display article -->
			<h1 class="text-center">{{ .Title }}</h1>
			<div class="text-center">{{ .Content }}</div>

            <!-- display blog list -->
			<table border="0">
			{{ range .Pages.ByPublishDate.Reverse }}
				<tr>
					<td width="10%">
						{{ if .Params.date | default "1970-01-01" }} 
							<span>{{ .Date.Format (.Site.Params.dateFormat | default "2006/01/02") }}</span>
						{{ end }}
					</td>
					<td width="45%">
						<span><a href="{{ .Permalink }}">《{{ .Title }}》</a></span>
					</td>
					<td width="45%">
						{{ if .Params.tags }}
						{{ $len := (len .Params.tags) }}
							🔖{{ if gt $len 1 }}{{ end }}
							{{ range $index, $tag := .Params.tags }}
                            <font size="3">
							<a href="{{ "tags/" | relLangURL }}{{ . | urlize }}">
                                {{ . }}
                            </a>{{ if ne (add $index 1) $len }},{{ end }}
							{{ end }}
                            </font>
						{{ end }}
					</td>
				</tr>
			{{ end }}
			</table>
		</article>
	</div>
</div>
{{ end }}
{{ end }}
